h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  padding-bottom: 20px;
  line-height: 1.2;
  font-family: $f2;
}

h1 {
  font-size: 60px;
  line-height: 66px;
  letter-spacing: 0.03em;
}

h2 {
  font-size: 30px;
  line-height: 29px;
  color: #7B2F2E;
  font-weight: 700;
  font-family: $f;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 35px;

  &:after {
    content: '';
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: #7B2F2E;
    width: 100px;
    height: 1px;
  }
}

h3 {

}

h4 {

}

p {
  padding-bottom: 20px;
  line-height: 1.5;
}

a {
  color: $bg;
  text-decoration: none;
  @include transition();

  &:hover {
    text-decoration: underline;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: $bg;
  color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid rgba(252, 252, 252, .7);
  @include transition();
  @include for-size($desktop) {
    margin-top: 50px;
    position: static;
  }

  &.scrollUp {
    -webkit-transform: translateY(-140px);
    transform: translateY(-140px);
  }

  .custom-logo-link {
    position: absolute;
    left: 0;
    bottom: -50%;
    z-index: 1;
    @include transform(translate(-50%, 50%));
    @include for-size(1350px) {
      @include transform(translate(0, 50%));
    }
  }

  #mainMenu {
    @include for-size(1350px) {
      margin-left: 90px;
    }
  }

  .language {
    a {
      color: #fff;
      display: inline-block;
      font-size: 16px;
      line-height: 20px;
      padding: 0 9px;
      text-transform: capitalize;
      cursor: pointer;
      position: relative;

      &.active {
        font-weight: 700;
      }

      &:first-child {
        &:before {
          content: '';
          position: absolute;
          right: -2px;
          top: 50%;
          width: 1px;
          opacity: 0.7;
          background-color: #FFFFFF;
          height: 23px;
          @include transform(translateY(-50%));
        }
      }
    }
  }
}

#pusher {
  margin-top: 65px;
  @include for-size($desktop) {
    margin-top: 0;
  }
}

@media screen and (min-width: 1025px) {
  #mainMenu {
    > ul {
      font-size: 0;

      > li.menu-item-has-children {
        padding-right: 30px;
        position: relative;

        &:after {
          content: '';
          width: 6px;
          height: 6px;
          right: 8px;
          top: 5px;
          position: absolute;
          border-right: 2px solid #fff;
          border-bottom: 2px solid #fff;
          @include transform(rotate(45deg));
        }
      }

      > li {
        display: inline-block;
        vertical-align: top;
        position: relative;
        padding: 0 15px;

        > a {
          color: #fff;
          font-size: 16px;
          line-height: 20px;
          display: block;
        }

        &:hover > a, &.current-menu-item > a {
          text-decoration: none;
        }

        &:hover > ul {
          margin-top: 0;
          opacity: 1;
          visibility: visible;
        }

        ul {
          margin-top: 20px;
          opacity: 0;
          visibility: hidden;
          width: 270px;
          position: absolute;
          left: 0;
          top: 100%;
          background: $bg;
          font-size: 14px;
          @include transition();

          li {
            position: relative;

            a {
              display: block;
              padding: 7px 18px;
              color: #fff;
              font-size: rem(13);
              text-decoration: none;
            }

            &:hover, &.current-menu-item {
              > a {
                color: $bg;
                background: #fff;
              }
            }

            &:hover ul {
              visibility: visible;
              opacity: 1;
              margin-top: 0;
            }

            ul {
              left: 270px;
              top: 0;
            }
          }
        }
      }
    }
  }
}

.wysiwyg {
  ul {
    margin: 0 0 20px 0;

    li {
      padding-left: 15px;
      position: relative;
      line-height: 26px;

      &:before {
        content: "";
        background: $bg;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        position: absolute;
        top: rem(10);
        left: 0;
      }
    }
  }
}

.home header, .single-news_and_events header {
  background: rgba(51, 14, 14, 0.6);
}

.home #pusher, .single-news_and_events #pusher {
  display: none;
}

.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-container-vertical > .swiper-pagination-progressbar {
  left: auto;
  right: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;

  .swiper-pagination-progressbar-fill {
    background-color: $bg;
    border-radius: 8px;
  }
}

.sliderVertical {
  height: calc(100vh);
  padding-top: 92px;
  padding-right: 29px;
}

.homeSlider {
  margin-left: auto;
  margin-right: 0;
  height: 100%;
  @include flex-basis(554px);
  padding-right: 20px;

  .job {
    background: rgba(234, 221, 208, 0.94);
    overflow: hidden;

    figure {
      @include flex-basis(220px);
      height: 100%;

      img {
        object-fit: cover;
        -o-object-fit: cover;
        object-position: center;
        -o-object-position: center;
        height: 100%;
        width: 100%;
      }
    }

    .info {
      @include flex(1);
      padding: 24px 20px;

      .text {
        overflow: auto;
        height: 176px;

        h4 {
          font-size: 20px;
          line-height: 24px;
          padding-bottom: 8px;
          color: #393636;
        }

        p {
          font-size: 14px;
          line-height: 24px;
          color: #554E4E;
          padding-bottom: 18px;
        }

        .galleryName {
          display: block;
          font-size: 16px;
          line-height: 20px;
          color: #393636;
          padding-bottom: 14px;
        }

        .date {
          display: block;
          font-size: 16px;
          line-height: 20px;
          color: #393636;
        }
      }
    }
  }
}

.topBox {
  min-height: 560px;
  position: relative;
  text-align: center;
  padding: 50px 0 40px;
  @include for-size($desktop) {
    min-height: 400px;
  }
  @include for-size($table) {
    min-height: inherit;
  }
  &:before {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: radial-gradient(59.88% 51.38% at 48.06% 48.62%, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  }

  .info {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
  }

  h1 {
    color: #fff;
    @include for-size($desktop) {
      font-size: 48px;
      line-height: 48px;
    }
    @include for-size($table) {
      font-size: 36px;
      line-height: 36px;
    }
  }

  p {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #FCFCFC;
    width: 546px;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 32px;
    @include for-size($desktop) {
      font-size: 22px;
    }
    @include for-size($table) {
      font-size: 20px;
    }
  }
}

.content {
  padding: 50px 0 115px;
  @include for-size($table) {
    padding: 30px 0 70px;
  }
  @include for-size(550px) {
    padding: 30px 0;
  }
}

.twoColumns {
  margin-bottom: 38px;
  @include for-size($table) {
    display: block;
  }
  .left {
    margin-bottom: 30px;
  }
  .part {
    @include flex-basis(50%);
    max-width: 50%;
    @include for-size(550px) {
      max-width: 100%;
    }
    .date {
      position: relative;
      padding-left: 28px;
      margin-bottom: 16px;
      color: #393636;
      line-height: 20px;

      &:before {
        content: '';
        left: 0;
        top: 0;
        width: 18px;
        height: 20px;
        position: absolute;
        background-image: url("../images/calendar.png");
        background-repeat: no-repeat;
      }
    }

    .galleryMarker {
      padding-left: 28px;
      position: relative;
      color: #393636;
      line-height: 20px;
      margin-bottom: 24px;

      &:before {
        content: '';
        left: 0;
        top: 0;
        width: 18px;
        height: 20px;
        position: absolute;
        background-image: url("../images/marker.png");
        background-repeat: no-repeat;
      }
    }

    .learnMore {
      color: #7B2F2E;
      cursor: pointer;
      line-height: 20px;
      @include transition();
      position: relative;
      padding-right: 25px;

      &:after {
        content: '';
        @include transform(translate(-50%, -50%) rotate(45deg));
        @include transition();
        right: 0;
        top: 8px;
        width: 8px;
        height: 8px;
        position: absolute;
        border-right: 1px solid $bg;
        border-bottom: 1px solid $bg;
      }

      &.opened {
        &:after {
          @include transform(translate(-50%, -50%) rotate(225deg));
          top: 14px;
        }
      }
    }
  }
}

.acf-map {
  height: 300px;
}

.footer {
  background-color: $bg3;
  color: #fff;
  position: relative;
  padding: 28px 0;
  max-width: 100%;

  > .alc {
    @include for-size(550px) {
      display: block;
      text-align: center;
    }
  }

  h4 {
    font-size: 16px;
    line-height: 20px;
    font-family: $f;
    color: #BDBDBD;
    padding-bottom: 8px;
  }

  .phoneBox {
    @include for-size(550px) {
      padding-bottom: 20px;
    }

    a {
      color: #FCFCFC;
      font-size: 18px;
      line-height: 22px;
      @include for-size(550px) {
        font-size: 16px;
      }
    }

    span {
      display: inline-block;
      margin: 0 10px 0 12px;
    }
  }

  .centerFooter {
    position: relative;

    .custom-logo-link {
      position: absolute;
      @include transform(translate(-50%, -90%));
      left: 50%;
      top: 0;
      @include for-size(550px) {
        display: block;
        position: static;
        @include transform(translate(0, 0));
        img {
          margin: 0 auto 20px;
        }
      }
    }
  }

  .some {
    @include for-size(550px) {
      padding-bottom: 20px;
    }

    a {
      display: inline-block;
      width: 36px;
      height: 36px;
      line-height: 36px;
      background: #7B2F2E;
      text-align: center;
      border-radius: 50%;
      margin: 0 12px;
      color: #fff;
      text-decoration: none;
      @include for-size(550px) {
        margin: 0 6px;
      }

      &:nth-child(2) {
        position: relative;
        top: 26px;
        @include for-size(550px) {
          top: 0;
        }
      }

      &:hover {
        opacity: .8;
      }
    }
  }
}

.post-type-archive-news_and_events, .tpl-contacts, .tpl-gallery {
  h1 {
    line-height: 66px;
    color: #7B2F2E;
    padding-bottom: 10px;
    letter-spacing: 0.03em;
    margin-bottom: 32px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 100px;
      height: 1px;
      background-color: #7B2F2E;
      bottom: 0;
      left: 0;
    }
  }

  .content {
    padding: 86px 0 115px;
    @include for-size($desktop) {
      padding: 60px 0 100px;
    }
    @include for-size(550px) {
      padding: 60px 0 20px;
    }
  }
}

.events {
  position: relative;
  padding-bottom: 45px;

}


.event {
  padding-bottom: 46px;

  a.thumb {
    display: block;
    margin-bottom: 24px;
  }

  .info {
    max-width: 592px;

    p {
      line-height: 20px;
      padding-bottom: 12px;
    }
  }

  .dateTitle {
    margin-bottom: 16px;
    @include for-size(550px) {
      display: block;
    }

    .date {
      @include flex-basis(105px);
      margin-right: 16px;
      position: relative;
      @include for-size(550px) {
        margin-right: 0;
        margin-bottom: 15px;
      }

      &:after {
        content: '';
        height: 50px;
        width: 1px;
        right: 0;
        top: 50%;
        position: absolute;
        @include transform(translateY(-50%));
        background-color: #BDBDBD;
        @include for-size(550px) {
          display: none;
        }
      }

      .number {
        color: #7B2F2E;
        font-size: 46px;
        line-height: 24px;
        font-weight: 700;
        margin-right: 4px;
        @include flex-basis(48px);
      }

      .day {
        font-size: 14px;
        line-height: 1;
        color: #6D6464;
      }

      .month {
        font-size: 18px;
        line-height: 1;
        color: #393636;
      }

      .rightDate {
        @include flex(1);
      }
    }

    h3 {
      @include flex(1);
      padding-right: 20px;
      padding-bottom: 0;

      a {
        font-size: 24px;
        line-height: 29px;
        font-family: $f;
        font-weight: 700;
        color: #393636;
        @include for-size(550px) {
          font-size: 20px;
          line-height: 20px;
        }

        &:hover {
          text-decoration: none;
          color: $bg;
        }
      }
    }
  }

  .shortGallery {
    color: #393636;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 16px;
  }

  a.more {
    color: #7B2F2E;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    padding-bottom: 6px;
    position: relative;

    &:after {
      content: '';
      width: 40px;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #7B2F2E;
      @include transition();
    }

    &:hover {
      text-decoration: none;

      &:after {
        width: 100%;
      }
    }
  }
}

.gallery {
  .item {
    margin-bottom: 32px;
    display: block;

    &:hover {
      text-decoration: none;
    }

    figure {
      margin-bottom: 20px;

      img {
        @include transition();
      }

      &:hover {
        img {
          opacity: .8;
        }
      }
    }

    .text {
      max-width: 280px;
    }

    h4 {
      color: #393636;
      font-size: 20px;
      line-height: 24px;
      font-family: $f;
      padding-bottom: 12px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      color: #554E4E;
    }
  }
}

.fancyGallery {
  width: 487px !important;
  background: transparent !important;
  position: static !important;
  padding: 0 !important;

  .fancybox-button {
    opacity: 1;

    svg {
      path {
        fill: #fff;
      }
    }
  }

  figure {
    margin-bottom: 20px;
  }

  h4 {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    padding-bottom: 12px;
    font-family: $f;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    color: #FCFCFC;
  }
}

.button.more {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding-left: 50px;
  @include transform(translateX(-50%));

  &:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: url("../images/arrow.png") no-repeat;
    @include transition();
  }

  &.load {
    &:before {
      animation: Orbita .8s linear infinite;
    }

    @keyframes Orbita {
      from {
        -webkit-transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
      }
    }
  }
}

.contacts {
  @include for-size($table) {
    display: block;
    text-align: center;
  }

  figure {
    img {
      @include for-size($table) {
        margin: 0 auto;
      }
    }
  }

  .contact {
    @include flex-basis(48.7%);
    @include for-size($table) {
      margin-bottom: 50px;
    }

    h2 {
      font-size: 60px;
      line-height: 30px;
      color: #7B2F2E;
      letter-spacing: 0.03em;
      font-family: $f2;
      font-weight: 400;
      padding-bottom: 32px;
      margin-bottom: 0;
      @include for-size($table) {
        font-size: 40px;
        line-height: 30px;
        padding-bottom: 15px;
      }

      &:after {
        display: none;
      }
    }

    h3 {
      font-size: 41px;
      line-height: 45px;
      color: #393636;
      letter-spacing: 0.04em;
      padding-bottom: 16px;
      @include for-size($table) {
        font-size: 30px;
        line-height: 25px;
      }
    }

    .wpcf7 {
      margin: -30px 32px 0;
      background-color: #fff;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
      padding: 24px 24px 20px;
      position: relative;
      @include for-size(550px) {
        padding: 15px 15px 5px;
        margin: -15px 15px 0;
      }

      .button {
        position: absolute;
        left: 24px;
        bottom: -40px;
        @include transform(translateY(-50%));
        @include for-size($table) {
          @include transform(translate(-50%, -50%));
          left: 50%;
        }
      }
    }
  }
}

.programs {
  .event {
    padding-bottom: 0;
  }

  .item {
    padding-bottom: 60px;
    @include for-size($desktop) {
      display: block;
    }
    @include for-size($table) {
      padding-bottom: 30px;
    }

    .titleBox {
      @include flex-basis(383px);
      margin-right: 32px;
      @include for-size($desktop) {
        margin-right: 0;
      }

      h2 {
        font-size: 60px;
        letter-spacing: 0.03em;
        font-family: $f2;
        font-weight: 400;
        line-height: 66px;
        margin-bottom: 16px;
        @include for-size($desktop) {
          font-size: 50px;
          line-height: 50px;
        }
      }

      h3 {
        color: #393636;
        font-size: 41px;
        letter-spacing: 0.04em;
      }
    }

    .infoBox {
      @include flex(1);

      .eventsPro {
        @include boxGrid(2, 2%);
        @include for-size($table) {
          @include boxGrid(1, 2%);
        }
      }

      .part {
        padding-bottom: 20px;
        @include flex-basis(48%);
        @include for-size($table) {
          @include flex-basis(100%);
        }

        h4 {
          font-family: $f;
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          padding-bottom: 16px;
        }
      }

      p {
        color: #393636;
        padding-bottom: 12px;
      }

      .list {
        ol {
          list-style: none;

          li {
            line-height: 30px;
            position: relative;
            padding: 0 0 0 26px;

            &:before {
              content: url("../images/file.png");
              position: absolute;
              left: 0;
              top: 4px;
            }
          }
        }
      }
    }
  }
}

.tpl-educational-programs {
  .content {
    padding: 80px 0 50px;
    @include for-size($table) {
      padding-bottom: 0;
    }
  }
}

.topSection {
  width: 1366px;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: -30px;
  position: relative;
  z-index: 1;
  @include for-size($desktop) {
    margin-bottom: 40px;
    @include align-items(flex-start);
  }
  @include for-size($table) {
    display: block;
  }

  .left {
    @include flex(1);
    padding: 40px 0 30px 3%;
    @include for-size($desktop) {
      @include flex-basis(50%);
    }
    @include for-size($table) {
      padding: 50px 3% 20px;
    }

    .text {
      margin-left: auto;
      width: 488px;
      padding-right: 3%;
      @include for-size($table) {
        margin-left: 0;
        padding-right: 0;
      }

      h2 {
        color: #393636;
        font-size: 60px;
        letter-spacing: 0.03em;
        font-family: $f2;
        font-weight: 400;
        padding-bottom: 32px;
        margin-bottom: 32px;
        @include for-size(1280px) {
          font-size: 50px;
        }
        @include for-size($desktop) {
          line-height: 1;
          padding-bottom: 10px;
          margin-bottom: 20px;
        }
      }

      h3 {
        color: #393636;
        font-size: 41px;
        letter-spacing: 0.04em;
        @include for-size($desktop) {
          line-height: 1;
          padding-bottom: 10px;
          font-size: 36px;
        }
      }

      a {
        color: #6D6464;
      }

      .icon {
        position: relative;
        color: #6D6464;
        padding-left: 30px;
        margin-bottom: 10px;

        &:before {
          position: absolute;
          left: 0;
          top: 5px;
        }

        &.address {
          &:before {
            content: url("../images/marker.png");
          }
        }

        &.phone {
          &:before {
            content: url("../images/phone.png");
          }
        }

        &.mail {
          &:before {
            content: url("../images/mail.png");
          }
        }
      }
    }
  }

  .imgRight {
    @include flex-basis(773px);
    @include for-size(1280px) {
      @include flex-basis(600px);
    }
    @include for-size($desktop) {
      @include flex-basis(50%);
    }

    figure {
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    }
  }
}

.customTitle {
  h3 {
    color: #7B2F2E;
    font-size: 30px;
    font-family: $f;
    font-weight: 700;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 30px;

    &:after {
      content: '';
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100px;
      position: absolute;
      background-color: #7B2F2E;
    }
  }
}

.middleSection {
  padding-bottom: 70px;

  > .alc {
    @include for-size($table) {
      display: block;
    }
  }

  .imgLeft {
    @include flex-basis(592px);
    max-width: 592px;
    margin-right: 32px;
    @include for-size($desktop) {
      @include flex-basis(355px);
    }
    @include for-size($table) {
      margin-bottom: 20px;
      margin-right: 0;
    }

    figure {
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    }
  }

  .text {
    @include flex(1);

    td {
      @include for-size($desktop) {
        width: 50% !important;
      }
      @include for-size(380px) {
        font-size: 12px;
      }
    }
  }
}

.bottomSection {
  padding-bottom: 80px;
  @include for-size($desktop) {
    padding-bottom: 30px;
  }

  .priceBox {
    @include boxGrid(3, 2%);
    @include for-size($desktop) {
      @include boxGrid(2, 2%);
    }
    @include for-size($table) {
      @include boxGrid(1, 1%);
    }

    p {
      padding-bottom: 10px;
    }
  }

  h3 {
    @include for-size($table) {
      font-size: 24px;
    }
  }
}
